:root {
    --color-filtered: brightness(0) saturate(100%) invert(16%) sepia(84%) saturate(2118%) hue-rotate(345deg) brightness(89%) contrast(93%);
    --btn-filtered: brightness(0) saturate(100%) invert(55%) sepia(33%) saturate(4864%) hue-rotate(334deg) brightness(85%) contrast(94%);
    --white-fitered: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(319%) hue-rotate(218deg) brightness(117%) contrast(90%);
}

body {
    position: relative;
}

/* HEADER */

.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FAFAFA;
    height: auto;
    padding: 3% 0;
    border-radius: 10px;
}

.information-container {
    display: grid;
    justify-self: center;
    margin-left: 2rem;
}

.contact_button {
    font-size: clamp(1.5rem, 2vw, 1.6rem);
    font-weight: bold;
    justify-self: center;
    color: white;
    padding: 11px;
    width: clamp(14rem, 25vw, 17rem);
    height: clamp(5rem, 5vw, 7rem);
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .photograph-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 0;

    }

    .information-container {
        text-align: center;
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
    }

    .contact_button {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .profile {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
}

@media (max-width: 500px) {
    .photograph-header {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 5% 0;
    }
}


/* FORM SORT */


.form-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
}

.select-label {
    font-family: 'DM Sans', serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 2vw, 2rem);
    width: 100px;
}

.select-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 50px;
    z-index: 4;
}

.select-btn.open {
    transform: translateY(75%);
}

.select-btn.open .option.active::after {
    transform: rotate(180deg);
}

.select-btn.open .option:not(.active) {
    display: block;
}

.options {
    position: absolute;
    list-style-type: none;
    background-color: #901C1C;
    padding-left: 0;
    border-radius: 5px;
    margin: 0;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: translateY(-50%)
}

.option {
    position: relative;
    padding: 8px;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

.option:hover,
.contact_button:hover {
    background-color: #DB8876;
}

.select-btn.open .option:not(:last-child)::before {
    position: absolute;
    content: '';
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 8px;
    right: 8px;
}

.option.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option.active::after {
    content: '';
    background: url("../assets/icons/chevron-up-solid.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    right: 0;
}

.option:not(.active) {
    display: none;
}

/* MODAL CAROUSSEL */

.modal-open {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: white;
    z-index: 5;
}

.modal-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 55px;
    min-width: 340px;
    max-width: 80vw;
    max-height: 80vh;
    /* width: 100%; */
    height: auto;
    border-radius: 5px;
    /* overflow: hidden; */
    background-color: white;
    z-index: 6;
}

.modal-item-container .media {
    min-width: 340px;
    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
    height: auto;
    border-radius: 5px;
    max-height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit: cover;
    object-position: center;
    /* aspect-ratio: 1050 / 900; */
}

.modal-item-container .legend {
    width: 100%;
    padding-top: 2rem;
}

.xmark,
.arrow {
    position: absolute;
    z-index: 10;
    width: clamp(20px, 5vw, 35px);
    height: clamp(20px, 5vw, 35px);
    filter: var(--color-filtered);
    cursor: pointer;
}

.xmark {
    top: 0;
    right: 0;
    transition: all .3s ease;
}

.left {
    left: 0;
    transform: rotate(-90deg);
    transition: all .3s ease;
}

.right {
    right: 0;
    transform: rotate(90deg);
    transition: all .3s ease;
}

.xmark:hover {
    transform: scale(1.2);

}

.left:hover {
    transform: rotate(-90deg) scale(1.2);
}

.right:hover {
    transform: rotate(90deg) scale(1.2);
}

@media (max-width: 700px) {

    .modal-overlay {
        background-color: black;
    }

    .modal-item-container {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .modal-item-container .media {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .modal-item-container .legend {
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
        color: white;
        padding: 10px;
    }

    .arrow {
        background-color: rgba(0, 0, 0, .7);
        filter: var(--white-fitered);
        border-radius: 50px;
        padding: 0.5rem;
    }

    .xmark {
        filter: none;
        top: 10px;
        right: 10px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

}

/* MODAL */

#contact_modal {
    display: none;
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, .8);
    inset: 0;
    z-index: 600111;

}

.modal {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    min-width: 320px;
    max-height: 80%;
    padding: 25px;
    margin: auto;
    top: 50%;
    overflow: auto;
    transform: translateY(-50%);
    scrollbar-width: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    overflow:hidden ;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.modal header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    font-size: clamp(36px, 5vw, 55px);
    margin-bottom: 2rem;
}

.modal header p {
    margin: 0;
}

.modal header img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    cursor: pointer;
}

.modal header h2 {
    font-weight: normal;
    margin: 0;
    text-align: center;
    font-size: inherit;
    color: black;
}

@media (max-width: 500px) {
    .modal {
        width: 100%;
        height: 100vh;
        max-height: 100%;
    }

    #contact_modal {
        width: 100vw;
    }
}

/* FORM */

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    color: #312E2E;
    font-size: clamp(26px, 5vw, 36px);
}

.contact-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 60px;
    font-size: clamp(20px, 3vw, 28px);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 120px;
}

.contact-form .contact_button:hover {
    background-color: #901C1C;
}

/* IMAGE CONTAINER */

.media-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    justify-items: start;
    margin-bottom: 2rem;
    z-index: 3;
}

.item-container {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.item-container img,
.item-container video {
    aspect-ratio: 350 / 300;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.item-container .icon {
    position: absolute;
    content: '';
    inset: 0;
    aspect-ratio: 350 / 300;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    filter: var(--color-filtered);
    z-index: 6000;
    opacity: 0;
    width: 100%;
    height: calc(100% - 3.3rem);
    transition: all .3s ease;
}

.item-container .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
    background-size: contain;
    width: 100%;
    height: 100%;
}

.item-container.image .icon {
    background-image: url('../assets/icons/camera.png');
}

.item-container.video .icon {
    background-image: url('../assets/icons/camera-video.png');
}

.item-container .icon:hover {
    opacity: .9;
}

/* Media Queries */
@media (min-width: calc(351px + (5vw * 2))) and (max-width: calc(500px + (5vw * 2))) {
    .media-container {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}

@media (min-width: calc(551px + (5vw * 2) + (3rem * 1))) and (max-width: calc(700px + (5vw * 2) + (3rem * 1))) {

    .media-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (min-width: calc(751px + (5vw * 2) + (3rem * 2))) and (max-width: calc(1000px + (5vw * 2) + (3rem * 2))) {
    .media-container {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

@media (min-width: calc(1001px + (5vw * 2) + (3rem * 3))) and (max-width: calc(1350px + (5vw * 2) + (3rem * 3))) {

    .media-container {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

/* LEGEND */

.legend {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    margin-top: 1rem;
}

.legend-title {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: 1.5rem;
}

.like-count {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.like-count::after {
    content: '';
    background: url('../assets/icons/heart-solid.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    filter: var(--color-filtered);
    width: 15px;
    height: 15px;
}

.item-focus {
    border: 2px solid
}