*,
::after,
::before {
    font-size: 62.5%;
}

html {
    min-width: 340px;
}

body {
    max-width: calc(1350px + (2 * 5vw));
    font-family: "DM Sans", sans-serif;
    padding: 0 5vw;
    margin: auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    font-size: clamp(2.2rem, 3vw, 3rem);
}

h2 {
    font-size: clamp(2.2rem, 3vw, 3rem);
}

.logo {
    height: clamp(40px, 5vw, 50px);
    width: auto;
}

.photographer-card {
    display: block;
    text-decoration: none;
    text-align: center;
}

.profile-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5% 5%;
    margin: clamp(7rem, 10vw, 10rem) 0;
}

.photographer_section a {
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.information-container h2 {
    color: #D3573C;
    font-size: clamp(1.2rem, 3vw, 2.1rem);
    margin: .5rem;
}

.locality {
    color: #901C1C;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 400;
    margin: .5rem;
}

.tagline {
    color: black;
    font-size: clamp(1rem, 5vw, 1.2rem);
    font-family: 'DM Sans';
    font-weight: 400;
    margin: .5rem;
}

.price {
    color: #757575;
    font-size: clamp(1.3rem, 4vw, 1.5rem);
    font-family: 'DM Sans';
    font-weight: 400;
    margin: .5rem;
}

@media (max-width: 858px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        font-size: clamp(1.2rem, 4vw, 3.6rem);
    }
}

@media (max-width: 555px) {
    .photographer_section {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: clamp(1.2rem, 6vw, 3.6rem);
    }
}